[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygame = "==2.6.1"

[dev-packages]
setuptools = "==75.6.0"
wheel = "==0.45.1"

[requires]
python_version = "3.12"
python_full_version = "3.12.7"
